[submodule "thirdparty/libssh2"]
	path = thirdparty/libssh2
	url = git://git.libssh2.org/libssh2.git
[submodule "thirdparty/winapi"]
	path = thirdparty/winapi
	url = git://github.com/alamaison/winapi.git
[submodule "thirdparty/comet"]
	path = thirdparty/comet
	url = git://github.com/alamaison/comet.git
