<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CSTrans">
      <Component Id="cmpE74DD7D9D8227D34510B3F7E321AAF94" Directory="dirC098ECCEF58EF943C727685AD3588010" Guid="*">
        <File Id="fil091986D285260DB81D03555C17AA166A" KeyPath="yes" Source="$(var.SolutionDir)\po\cs\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir0CC9B82D6C29B1750FB80DBF8B6E0820" Name="cs" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirC098ECCEF58EF943C727685AD3588010" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0CC9B82D6C29B1750FB80DBF8B6E0820">
      <Directory Id="dirC098ECCEF58EF943C727685AD3588010" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>