<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirC2FB03F03DC27286522C0FCB4F138014" Name="cy" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="CYTrans">
      <Component Id="cmpB73BA70453C8DBE05F9DBE242E93EDD2" Directory="dir9A53629F15C880C1D8E8A18B8D801618" Guid="*">
        <File Id="fil4F7C4599A8B7CD99B29B651A552FC8E3" KeyPath="yes" Source="$(var.SolutionDir)\po\cy\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirC2FB03F03DC27286522C0FCB4F138014">
      <Directory Id="dir9A53629F15C880C1D8E8A18B8D801618" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>