<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirD514B179CB38BD305594E5896F71684C" Name="da_DK" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="DADKTrans">
      <Component Id="cmp9695454AC4BC24E02FD035C04C0E4CFE" Directory="dir1F21CB3EA8388487496B2166346CD03F" Guid="*">
        <File Id="filFB08CC783D23577AFE3202572AF199B5" KeyPath="yes" Source="$(var.SolutionDir)\po\da_DK\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirD514B179CB38BD305594E5896F71684C">
      <Directory Id="dir1F21CB3EA8388487496B2166346CD03F" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>