<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="DETrans">
      <Component Id="cmp81467DEAECFA13CC98FDC19FB07DBDC0" Directory="dir44CE9997011387247333132008650569" Guid="*">
        <File Id="fil710508795831ABCAF199E74256C15809" KeyPath="yes" Source="$(var.SolutionDir)\po\de\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir0AD562225EF949C7A8A506C59B4C2274" Name="de" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir44CE9997011387247333132008650569" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0AD562225EF949C7A8A506C59B4C2274">
      <Directory Id="dir44CE9997011387247333132008650569" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>