<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="FRTrans">
      <Component Id="cmpD26D158CC67240DB73EC22D2AFE8FE45" Directory="dir9624BA9D2FCE4088026697A2E088C82D" Guid="*">
        <File Id="filC72A74968EC0E39324C6BFA6DC489040" KeyPath="yes" Source="$(var.SolutionDir)\po\fr\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirFCD0ABE5EAF48AEA3F7995814ECD33C6" Name="fr" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir9624BA9D2FCE4088026697A2E088C82D" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirFCD0ABE5EAF48AEA3F7995814ECD33C6">
      <Directory Id="dir9624BA9D2FCE4088026697A2E088C82D" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>