<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirBC33039B43AE3505ABF6C967A9F95C2C" Name="hi" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="HITrans">
      <Component Id="cmp5EAD4E9E6F63B892596D63C669421550" Directory="dir0E628FFE1FD634C8A5F8FE94412F11F1" Guid="*">
        <File Id="filAB5872B00015FE3174E751B387FD5844" KeyPath="yes" Source="$(var.SolutionDir)\po\hi\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirBC33039B43AE3505ABF6C967A9F95C2C">
      <Directory Id="dir0E628FFE1FD634C8A5F8FE94412F11F1" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>