<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir0BAFAB061E803A921E0194733258E70A" Name="hu" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="HUTrans">
      <Component Id="cmpEBD89A1B7EC85344448460A44465AD3A" Directory="dir1AE13A6D647543043702D0510692BC27" Guid="*">
        <File Id="fil30A00BE787043F678842E1794C516FCC" KeyPath="yes" Source="$(var.SolutionDir)\po\hu\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir1AE13A6D647543043702D0510692BC27" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0BAFAB061E803A921E0194733258E70A">
      <Directory Id="dir1AE13A6D647543043702D0510692BC27" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>