<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ITTrans">
      <Component Id="cmpE701C5AFF355675EEC18E976999C0BF2" Directory="dir4337C1A294FF5AA5E2A74E068A98FA7A" Guid="*">
        <File Id="fil39654129C8E30831F451C76B5AF22944" KeyPath="yes" Source="$(var.SolutionDir)\po\it\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir5548EB3B1D9557CA4F48D1E78A3D8961" Name="it" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir4337C1A294FF5AA5E2A74E068A98FA7A" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir5548EB3B1D9557CA4F48D1E78A3D8961">
      <Directory Id="dir4337C1A294FF5AA5E2A74E068A98FA7A" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>