<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="JATrans">
      <Component Id="cmpA50906F081ED7EA43546335E2636ACAD" Directory="dir271612B53E9AF901FFB2D2813597931D" Guid="*">
        <File Id="filEF859305F6051E307CC54937F4D26DEC" KeyPath="yes" Source="$(var.SolutionDir)\po\ja\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirB94163A2911FAAE96DC4FB092D5EAA83" Name="ja" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir271612B53E9AF901FFB2D2813597931D" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirB94163A2911FAAE96DC4FB092D5EAA83">
      <Directory Id="dir271612B53E9AF901FFB2D2813597931D" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>