<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="NLTrans">
      <Component Id="cmp511A28F2E00CFD6DC8F4A912F20D6E5F" Directory="dirF629E0AFCE18F01A695741A51021A805" Guid="A5ABE41E-4261-4844-9910-182679AEEC8F">
        <File Id="filC803C0EA9CA83B1E02FDF0E131A2038B" KeyPath="yes"
              Name="swish.mo" Source="$(var.SolutionDir)\po\nl.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir67A764E3B6570712DF81EF17F4C92177" Name="nl" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirF629E0AFCE18F01A695741A51021A805" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir67A764E3B6570712DF81EF17F4C92177">
      <Directory Id="dirF629E0AFCE18F01A695741A51021A805" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>