<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="PLTrans">
      <Component Id="cmp9A3085C51DDC5536B00AEE4E9057FE73" Directory="dirB98F2474D55CD1DE562D041ABC28566B" Guid="*">
        <File Id="fil33232DE3B85DA68AC938960E4B2C3A5C" KeyPath="yes" Source="$(var.SolutionDir)\po\LC_MESSAGES\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir9B181360F0405888DE362E827EFF1F14" Name="pl" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirB98F2474D55CD1DE562D041ABC28566B" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir9B181360F0405888DE362E827EFF1F14">
      <Directory Id="dirB98F2474D55CD1DE562D041ABC28566B" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>