<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir9F41AD159B9789A70AD42335B7330765" Name="pt" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="PTTrans">
      <Component Id="cmp55B8FFD5CBD466976BD5FE676ECC9585" Directory="dirE091D10BD4C107528F8669FA074E8B69" Guid="*">
        <File Id="fil43122EC94CF21B4BEC49D784F3B02010" KeyPath="yes" Source="$(var.SolutionDir)\po\pt\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir9F41AD159B9789A70AD42335B7330765">
      <Directory Id="dirE091D10BD4C107528F8669FA074E8B69" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>