<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirC322DD662993F74A97D7C7D37CBBD495" Name="ro" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ROTrans">
      <Component Id="cmpDD2CE7124EEA15804DAA4C4F1C22923D" Directory="dir3653A919BD32BC888A23A188B367F143" Guid="*">
        <File Id="fil5D9A6E405F65EA9E02F74EC8EF3866E0" KeyPath="yes" Source="$(var.SolutionDir)\po\ro\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirC322DD662993F74A97D7C7D37CBBD495">
      <Directory Id="dir3653A919BD32BC888A23A188B367F143" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>