<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="RUTrans">
      <Component Id="cmp54F0E35AD8C15D175387C0409DBE2C2F" Directory="dir0A3AB1586E9B1C1854FA9AF249C11A1A" Guid="*">
        <File Id="fil55C2D38547309491A5C27554E13B437F" KeyPath="yes" Source="$(var.SolutionDir)\po\ru\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirA3B08513C3667C7E7BB5F422E5852AE7" Name="ru" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir0A3AB1586E9B1C1854FA9AF249C11A1A" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirA3B08513C3667C7E7BB5F422E5852AE7">
      <Directory Id="dir0A3AB1586E9B1C1854FA9AF249C11A1A" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>