<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir2C40381C60A9A402DC62577DF94272F0" Name="sk" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="SKTrans">
      <Component Id="cmp879C9DC621BB1A5CEC231A566EF09293" Directory="dirD481546BBC6722AF3356C53ABF95B3AB" Guid="*">
        <File Id="fil59F74E815193C292B148913F45C52108" KeyPath="yes" Source="$(var.SolutionDir)\po\sk\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirD481546BBC6722AF3356C53ABF95B3AB" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir2C40381C60A9A402DC62577DF94272F0">
      <Directory Id="dirD481546BBC6722AF3356C53ABF95B3AB" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>