<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="TRTrans">
      <Component Id="cmp317EBB7A1FB766BF2BA15F5E932B5325" Directory="dirD1A03D5AFC4C4A5D466BBA9C9D9FF7CA" Guid="*">
        <File Id="fil3C1138BCFD2B4EB496E2F917513F60AA" KeyPath="yes" Source="$(var.SolutionDir)\po\tr\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirC53A4426F305A6266035AEC360FF727F" Name="tr" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirD1A03D5AFC4C4A5D466BBA9C9D9FF7CA" />
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dirC53A4426F305A6266035AEC360FF727F">
      <Directory Id="dirD1A03D5AFC4C4A5D466BBA9C9D9FF7CA" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>