<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir5E844EDAF0A89E3E22D42806587D12EC" Name="zh_CN" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ZHCNTrans">
      <Component Id="cmpE1790286ACE1D90A8D54F216E4037961" Directory="dir3B090250416AFF888CEE6F7D1097634D" Guid="*">
        <File Id="filE980289C36DF8C2E888F1646A0A08F1B" KeyPath="yes" Source="$(var.SolutionDir)\po\zh_CN\swish.mo" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="dir5E844EDAF0A89E3E22D42806587D12EC">
      <Directory Id="dir3B090250416AFF888CEE6F7D1097634D" Name="LC_MESSAGES" />
    </DirectoryRef>
  </Fragment>
</Wix>